[package]
name = "client"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
eframe = "0.17.0"
egui = "0.17.0"
lazy_static = "1.4.0"
reqwest = "0.11.10"
tokio = "1.17.0"
