/target
microlaunch.toml
ffxiv_dx11.dxvk-cache
steam_appid.txt
sqexcrypt/src/test_ticket.txt
sqexcrypt/*.txt
private/
dalamud/
ffxiv_dx11_d3d11.log
/appimage-docker/output/microlaunch-x86_64.AppImage
/appimage-docker/steamworks_sdk/*
/appimage-docker/cargo_cache/target/*
/appimage-docker/cargo_cache/registry/*